{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
	{{ title }}
{% endblock %}
{% block content %}
	<section class="h-100 h-custom" style="background-color: #d4d2d2;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col">
					<div class="card">
						<div class="card-body p-4">

							<div class="row">

								<div class="col-lg-7">
									<h5 class="mb-3"><a href="{% url "shop:index" %}"
									                    class="text-body"><i
											class="fas fa-long-arrow-alt-left me-2"></i>Продолжить
										покупки</a></h5>
									<hr>
									<div
											class="d-flex justify-content-between align-items-center mb-4">
										<div>
											<p class="mb-1">Корзина</p>
											<div class="cart">
												{% with total_items=cart|length %}
													{% if cart|length > 0 %}
														Ваша корзина:
														<a href="{% url "cart:cart_detail" %}">
															{{ total_items }} item{{ total_items|pluralize }}
														</a>
													{% else %}
														Ваша корзина пуста.
													{% endif %}
												{% endwith %}
											</div>
										</div>
									</div>
									{% for item in cart %}
										{% with product=item.poduct %}
											<div class="card mb-3">
												<div class="card-body">
													<div class="d-flex justify-content-between">
														<div class="d-flex flex-row align-items-center">
															{% thumbnail item.product.images "75x75" crop="center" upscale=True as im %}
																<a href="{{ item.product.get_absolute_url }}">
																	<img class="card-img my-2 bg-white"
																	     src="{{ im.url }}" alt="">
																</a>
															{% endthumbnail %}
															<div class="ms-3">
																<h5>{{ item.product.name }}</h5>
															</div>
														</div>
														<div class="d-flex flex-row align-items-center">
															<div style="width: 50px;">
																<h5 class="fw-normal mb-0">{{ item.quantity }}</h5>
															</div>
															<div style="width: 120px;">
																<h5 class="mb-0">{{ item.product.price }}р.</h5>
															</div>
															<div style="width: 80px;">
																<a href="{% url "cart:cart_remove" item.product.id %}">del</a>
															</div>
															<a href="#!" style="color: #cecece;"><i
																	class="fas fa-trash-alt"></i></a>
														</div>
													</div>
												</div>
											</div>
										{% endwith %}
									{% endfor %}
								</div>
								<a href="{% url "orders:order_create" %}" class="button">
									<button class="btn btn-success " data-toggle="button">Оформить</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}