{% extends '../base.html' %}
{% load thumbnail %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="container pt-4" >
        <div class="row">
            {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card text-center shadow p-3 mb-5 bg-white rounded">
{#                        <a href="{% url 'shop:category_products' category.slug %}">#}
                        {% thumbnail product.images "350x350" crop="center" as im %}
                            <img class="card-img my-2 bg-white" src="{{ im.url }}" alt="">
                        {% endthumbnail %}
{#                        </a>#}
                        <h6>{{ product.name }}</h6>
                        <hr>
                        <p>{{ product.description|truncatewords:15 }}</p>
                        <h5>{{ product.price }} р.</h5>
                        <button type="button" class="btn btn-success " data-toggle="button" aria-pressed="false" style="display: block; margin-left: auto;">В карзину</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}